<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-familia.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA FAMILIAR</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA FAMILIAR</h1>
        <span class="descripcion_content">
            La terapia familiar es un tipo de psicoterapia que puede ayudar a los miembros de la familia a mejorar la
            comunicación y resolver conflictos. El tiempo de
            sesiones suele ser a corto plazo, puede involucrar a todos los miembros de la familia o solamente a los que
            son capaces o tienen la voluntad de participar.<br>
            Tu plan de tratamiento específico dependerá de tu situación familiar. Las sesiones de terapia familiar
            pueden enseñarte habilidades para profundizar las conexiones familiares y atravesar momentos estresantes,
            incluso cuando hayas terminado de ir a sesiones de terapia.
        </span>
        <h3 class="subTitle">¿Por qué debería hacer una terapia de familia?</h3>
        <span class="descripcion_content">
            La terapia familiar puede ayudar a mejorar las relaciones conflictivas con tu pareja, tus hijos y otros
            miembros de la familia. Podrías enfocarte en determinados temas como los problemas matrimoniales o
            económicos, los conflictos entre padres e hijos, o la repercusión del abuso de sustancias o una enfermedad
            mental en toda la familia.<br>
            La terapia familiar puede ser útil en cualquier contexto familiar que provoque estrés, dolor, ira o
            conflicto. Puede ayudarte a ti y a los miembros de tu familia a comprenderse mejor y a aprender a hacer
            frente a desafíos o situaciones para acercarse unos a otros.
        </span>
        <h3 class="subTitle">Durante la terapia familiar, podrás hacer lo siguiente:</h3>
        <ul class="descripcion_content">
            <li>Analizar la capacidad de tu familia para resolver problemas y expresar tanto pensamientos como emociones
                de manera productiva</li>
            <li>Explorar roles familiares, reglas y patrones de comportamiento para identificar problemas que
                contribuyen al conflicto, y maneras de resolverlos</li>
            <li>Identificar las fortalezas de tu familia, como el cuidado del otro, y las debilidades, como la
                dificultad para confiar en el otro</li>
        </ul>
    </div>
</div>