<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-familia.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA FAMILIAR</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA FAMILIAR</h1>
        <span class="descripcion_content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo impedit id velit, non facere numquam
            iusto suscipit officiis obcaecati ea officia rerum accusamus soluta similique, repellendus voluptate
            delectus asperiores excepturi.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo impedit id
            velit, non facere numquam
            iusto suscipit officiis obcaecati ea officia rerum accusamus soluta similique, repellendus voluptate
            delectus asperiores excepturi</span>
    </div>
</div>
