<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-adolecentes.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA PARA ADOLECENTES</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA PARA ADOLECENTES</h1>
        <span class="descripcion_content">Expertos en modificación conductual, control de impulsos y emociones, relaciones interpersonales e intrapersonales, entre otros. </span>
    </div>
</div>
