<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-adolecentes.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA PARA ADOLECENTES</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA PARA ADOLECENTES</h1>
        <span class="descripcion_content">Expertos en modificación conductual, control de impulsos y emociones,
            relaciones interpersonales e intrapersonales, entre otros.</span>
        <h3 class="subTitle">¿Tu hijo presenta esos indicadores?</h3>
        <span class="descripcion_content">
            <div class="row py-4">
                <div class="col-sm-12 col-md-6 col-xl-4 col-lg-4">
                    <ul>
                        <li><strong>Tiene un temperamento muy fuerte</strong></li>
                        <li><strong>Se niega a hacerme caso</strong></li>
                        <li><strong>Es desafiante</strong></li>
                        <li><strong>No quiere seguir las normas y los límites</strong></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><strong>Es muy impulsivo/a</strong></li>
                        <li><strong>En ocasiones es agresivo/a</strong></li>
                        <li><strong>Le han expulsado del colegio</strong></li>
                    </ul>
                </div>
            </div>
            Hostilidad, desafío y desobediencia, estos son algunos de los rasgos que conforman un trastorno de conducta
            en adolescentes. Es frecuente ver que muchos jóvenes tienen dificultades para manejar los cambios que
            acarrea la vida adolescente llegando a desarrollar conductas de irritabilidad, oposición, tristeza o incluso
            aislamiento familiar.<br>
            Si bien la adolescencia es una etapa de la vida difícil, tanto para los propios adolescentes como para
            quienes les rodean, llena de desajustes de la conducta, las emociones y los pensamientos, cuando estos
            desajustes llegan a perturbar alguno o todos los ámbitos de la vida de los adolescentes, es preciso pedir
            ayuda a un profesional de la salud mental.<br>
            El tratamiento se establecerá según el tipo de problemática. Las sesiones se llevan a cabo con el joven, no
            obstante, se realizan algunas sesiones paralelas con los padres para brindarle pautas educativas para
            favorecer el correcto funcionamiento del tratamiento.
            <h3 class="subTitle">¿En qué consiste la terapia para adolescentes?</h3>
            <span class="descripcion_content">
                La terapia consta de sesiones terapéuticas individuales y un curso de aprendizaje de habilidades
                conductuales necesarias para la regulación emocional, las cuales se llevan de forma paralela durante la
                primera parte del tratamiento. Inicialmente el cliente y familia pasan por una evaluación inicial de
                caso para la determinación de la duración e intensidad del tratamiento requerido.<br>
                En la actualidad este tipo de problemática en adolescentes ha aumentado, suponiendo uno de los
                diagnósticos más frecuentes tanto en edad infantil como en juvenil. El tipo de conducta que expresan
                generalmente estos trastornos son aquellas denominadas conductas disruptivas (conductas que molestan,
                interfieren en los demás), las cuales implican la interrupción en el desarrollo evolutivo del niño
                imposibilitándolo para crear y mantener relaciones sociales saludables. Otro tipo de conductas que
                pueden presentar son las denominadas conductas de carácter negativo o negativistas; estas conductas se
                relacionan con un comportamiento que desafía a los padres o bien a otras personas mayores a quienes
                deben tener respeto, buscando el desafío a la autoridad.
            </span>
        </span>
    </div>
</div>