<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-pareja.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA DE PAREJA</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA DE PAREJA</h1>
        <h3 class="subTitle">¿Qué voy a logra asistiendo a Terapia de Pareja?</h3>
        <span class="descripcion_content">
            La terapia de pareja entrena y guía a la pareja en nuevas habilidades de comunicación. Ayuda construir
            nuevas estrategias para la solución de problemas. Enseña a la pareja a expresar apropiadamente aspectos
            positivos como negativos. Es un espacio para superar conflictos y resentimientos. La terapia promueve y
            repara daños y dificultades en el entorno familiar, social y laboral de la pareja.
        </span>
        <h3 class="subTitle">¿Cuándo acudir a Terapia de Pareja?</h3>
        <span class="descripcion_content">
            Cuando la pareja o un miembro de la pareja descubre que hay frecuentes discusiones, o infidelidades y
            desencuentros conyugales que alteran negativamente la comunicación. Esta realidad favorece el
            distanciamiento entre ambos, ocasionando insatisfacción en la relación y muchas veces malestar físico y
            emocional.
            También, cuando la pareja o un miembro de la pareja piensa o ha expresado la posibilidad de separarse, pero
            considera valioso intentar buscar otra alternativa antes de tomar una decisión.
            Es necesario asistir a terapia cuando la dinámica de la relación altera y perjudica negativamente al entorno
            familiar (hijos, padres, hermanos, etc.) y cuando colisiona con actividades laborales, académicas y
            personales.
        </span>
        <h3 class="subTitle">¿Cómo trabaja el terapeuta de parejas?</h3>
        <span class="descripcion_content">
            Primero se escucha las necesidades de la pareja y se realiza una evaluación de los aspectos que interfieren
            en la relación. Se utilizan entrevistas en pareja e individuales, las cuales permitirán establecer el
            vínculo terapéutico para generar los objetivos a lograr.
        </span>
    </div>
</div>