<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-pareja.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA DE PAREJA</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA DE PAREJA</h1>
        <span class="descripcion_content">Especialistas en celotipia, infidelidad, inseguridad, lucha de poderes, mala comunicación, impulsividad, agresividad, entre otros. </span>
    </div>
</div>
