@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.general {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .section-principal{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .img{
            max-width: 100%;
        }
        .texto-principal{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #000;
            padding: 10%;
            gap: 15px;
            .text{
                text-align: center;
            }
            .btn{
                margin-top: 30px;
                .btn-contacto{
                    border-radius: 30px;
                    background: rebeccapurple;
                    &:hover{
                        background: rgb(125, 71, 178);
                    }
                }
            }
        }
    }
    .section-emociones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        .title{
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            margin: 80px 0 60px 0;
            color: rgb(79, 79, 79);
            font-family: 'Fredoka One', cursive;
            line-height: 21pt;
        }
        .section-emociones_content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 60px;
            .emociones{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .title_emociones{
                    font-size: 20px;
                    margin-top: 15px;
                    font-weight: bold;
                }
            }
        }
    }
    .text_section-secundary{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 80px 0 60px 0;
        color: rgb(79, 79, 79);
        margin: 9rem 0 60px 0;
        font-family: 'Fredoka One', cursive;
    }   
    .section-secundary{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .section-items{
            width: 250px;
            height: 250px;
            border-radius: 15px;
            background-color: rgba(68,0,153,0.06);
            box-shadow: 1px 4px 10px rgb(208, 168, 243);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 15px;
            text-align: center;
            padding: 0 40px;
            .title{
                font-weight: bold;
                font-size: 18px;
                line-height: 20pt; 
            }
            .numero{
                font-size: 40px;
                margin-top: 10px;
            }
        }
    } 
    .text_section-terciario{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 9rem 0 60px 0;
        color: rgb(79, 79, 79);
        line-height: 18pt; 
        font-family: 'Fredoka One', cursive;
    } 
    .section-terciario{
        width: 100%;
        .section-terciario_group{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            .section-items{
                width: 250px;
                height: 250px;
                border-radius: 15px;
                background-color: rgba(68,0,153,0.06);
                box-shadow: 1px 4px 10px rgb(208, 168, 243);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 30px;
                text-align: center;
                padding: 0 10px;
                .title{
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 15pt; 
                }
                .numero{
                    font-size: 50px;
                }
                .btn-contacto{
                    border-radius: 30px;
                    font-size: 12px;
                }
            }
        } 
    }
}

@media (min-width: 768px){
    .general {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .section-principal{
            flex-direction: row;
            .img{
                max-width: 50%;
               // height: 100vh;
            }
            .title-principal{
            }
        }
        .text_section-secundary{
            font-size: 60px;
            font-weight: bold;
            line-height: 40pt; 
        }  
        .text_section-terciario{
            font-size: 60px;
            font-weight: bold;
        }
        .section-emociones{
            .title{
                text-align: center;
                font-size: 60px;
                font-weight: bold;
                margin: 80px 0 60px 0;
                color: rgb(79, 79, 79);
            }
            .section-emociones_content{
                grid-template-columns: repeat(4, 1fr);
            }
        }
        .section-secundary{
            flex-direction: row;
            gap: 100px;
            .section-items{
                transform: scale(var(--escala, 1));
                transition: transform 0.25s;
                &:hover{
                    --escala: 1.2;
                    cursor:pointer;
                }
                .title{
                    font-size: 20px;
                }
                .numero{
                    font-size: 40px;
                }
            }
        } 
        .section-terciario{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .section-terciario_group{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 103px;
                .section-items{
                    transform: scale(var(--escala, 1));
                    transition: transform 0.25s;
                    &:hover{
                        --escala: 1.2;
                        cursor:pointer;
                    }
                    .title{
                        font-size: 18px;
                    }
                    .numero{
                        font-size: 40px;
                    }
                }
            }
        }
    }
}