<div class="general">
    <div class="section-principal">
        <div class="image">
            <img class="img" src="../../assets/principal2.jpg" alt="">
            <div class="texto-principal">
                <h1 class="title">TU SALUD MENTAL ES NUESTRA PRIORIDAD</h1>
                <span class="text texto-secundario">¿AGENDAMOS UNA CITA?</span>
                <span class="text descripcion">Creo firmemente que la psicoeducación es una herramienta fundamental para
                    un proceso
                    psicoterapéutico. Nosotros te acompañamos en tu proceso, brindando un servicio de calidad, adaptable
                    a
                    tus necesidades con el objetivo de desestigmatizar la salud mental. </span>
                <!-- <span class="text">¿AGENDAMOS UNA CITA?</span> -->
                <div class="btn">
                    <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                        cita</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section-emociones">
        <span class="title">¿Cómo te sientes hoy?</span>
        <div class="section-emociones_content">
            <div class="emociones" *ngFor="let item of dataEmosiones">
                <img class="img" src="{{item.img}}" alt="" width="100">
                <span class="title_emociones">{{item.title}}</span>
            </div>
        </div>
    </div> -->
    <!--   <h1 class="text_section-secundary">¡Toma terapia online desde cualquier parte del mundo!</h1>
    <div class="section-secundary">
        <div class="section-items" *ngFor="let item of dataContador">
            <img class="image" src="{{item.img}}" alt="" width="60">
            <span class="title">{{item.title}}</span>
            <span class="numero"
                *ngIf="item.title === 'Pacientes atendidos' || item.title === 'Años de experiencia'">+{{item.min}}</span>
            <span class="numero" *ngIf="item.title === 'Seguidores en tiktok'">{{item.min}}k</span>
            <span class="numero" *ngIf="item.title === 'Mejoraron su condición'">{{item.min}}%</span>
        </div>
    </div>
    <h1 class="text_section-terciario">¿Qué ofrecemos?</h1>
    <div class="section-terciario">
        <div class="section-terciario_group">
            <div class="section-items" *ngFor="let item of dataServicios">
                <img class="image" src="{{item.img}}" alt="" width="70">
                <span class="title">{{item.title}}</span>
                <button class="btn-contacto" mat-raised-button color="primary" (click)="goServices(item.url)">Más
                    información</button>
            </div>
        </div>
    </div> -->
    <div class="section-ofrecemos container-fluid d-flex justify-content-center">
        <h1 class="title">¿QUÉ OFRECEMOS?</h1>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="card m-3 p-0 col-sm-12 col-md-6 col-xl-3 col-lg-4 d-flex justify-content-center"
                    *ngFor="let item of servicios" style="width: 18rem;">
                    <img src="{{item.img}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of the
                            card's content.</p> -->
                        <a class="btn btn-primary" (click)="moreInformation(item.url)">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-planes my-5">
        <h1 class="title py-4">SERVICIOS Y PRECIOS</h1>
        <span class="plan-descripcion_primary">Te damos la Bienvenida, aquí te encontrarás a ti mismo, escoge el
            servicio que más se adapte a ti y a lo que estas buscando.</span>
        <span class="plan-descripcion_secundary">Sesiones dedicadas a crear la mejor versión de ti desde el primer
            minuto. Usando las mejores herramientas que la psicoterapia ofrece.</span>
        <div class="my-5 w-100 d-flex justify-content-center">
            <div class="row  w-100 d-flex justify-content-center">
                <div class="card-planes col-sm-12 col-md-6 col-xl-3 col-lg-4 d-flex justify-content-center"
                    *ngFor="let item of planes">
                    <div class="card">
                        <div class="card-header">
                            {{item.title}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{item.subTitle}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text_time">Duración: <span class="value">{{item.time}}</span></p>
                            <p class="card-text_price" *ngIf="item.price != ''">Tiempo: <span
                                    class="value">{{item.price}}</span></p>
                            <div class="row" *ngFor="let itemPaquetes of item.paquetes">
                                <ul class="card-text_price--group">
                                    <li>{{itemPaquetes.text}}:</li>
                                    <span class="value">{{itemPaquetes.value}}</span>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid color-fondo">
        <h1 class="title">PREGUNTAS FRECUENTES</h1>
        <div>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let item of questions">
                    <mat-expansion-panel-header class="mat-expansion-panel-header2" *ngIf="!item.infoExtra">
                        <mat-panel-title>
                            {{item.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{item.body}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <h3 class="sub-title">INFORMACIÓN EXTRA DE TERAPIA DE PAREJA</h3>
        <div>
            <mat-accordion *ngFor="let item of questions">
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let item2 of item.infoExtra">
                    <mat-expansion-panel-header class="mat-expansion-panel-header2">
                        <mat-panel-title>
                            {{item2.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{item2.body}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="agendar-sesion container-fluid d-flex justify-content-center">
        <h1 class="title">¿CÓMO AGENDO MI SESIÓN?</h1>
        <h2 class="subTitle">¡FELICIDADES POR TOMAR ESTA DECISIÓN, ESTAS CADA VEZ MÁS CERCA!</h2>
        <span class="description">
            El proceso terapéutico te brindará las herramientas necesarias para mejorar tu bienestar emocional. Lo más
            importante en un proceso es tu disposición y constancia. La terapia online se adapta a tu tiempo, en un
            horario amplio de <strong>lunes a domingo</strong> entre las<strong>7:00 am a 11:00</strong> pm. Aquí
            encontraras la raíz de tus problemas, el detonante que ocasiona tu ansiedad, depresión,dependencia, pánico,
            apegos, dependencia emocional, entre otros.
        </span>
        <h1 class="text-agendar">AGENDA TU SESIÓN EN 3 PASOS</h1>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="card m-3 col-sm-12 col-md-6 col-xl-3 col-lg-4 d-flex justify-content-center"
                    *ngFor="let item of agendaCita">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center py-5 align-justify-content image">
                            <img src="{{item.img}}" class="img-fluid rounded-start" alt="..." width="150">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                                <p class="card-text">
                                    {{item.body}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="beneficios">
        <h1 class="title">BENEFICIOS DE LA TERAPIA EN LÍNEA</h1>
        <h2 class="subTitle">Logra la paz emocional y relaciones más sanas con la ayuda de un especialista en Psicología
        </h2>
        <div class="beneficios-items">
            <span class="beneficios-items_title">Las sesiones online te ayudan a:</span>
            <ul>
                <li>Encontrar nuevas perspectivas para resolver tu situación.</li>
                <li>Dejar de sentirte solo con tus pensamientos.</li>
                <li>Romper los obstáculos y patrones que te mantienen en la negatividad.</li>
                <li>Lograr mayor confianza en ti mismo.</li>
                <li>Comprender qué quieren enseñarte tus emociones para expresarte de manera más sana.</li>
                <li>Aprender a comunicarte mejor.</li>
                <li>Asesorías las 24 horas del día.</li>
                <li>Atención personalizada por medio de nuestra plataforma de WhatsApp.</li>
                <li>Flexibilidad de horarios.</li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row d-flex justify-content-center card-benefecio">
                <div class="card col-sm-12 col-md-6 col-xl-3 col-lg-4 d-flex justify-content-center"
                    *ngFor="let item of beneficios">
                    <div class="card-header">
                        {{item.title}}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            {{item.body}}
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="formulario">
        <h1 class="title">Contáctame</h1>
        <form class="form" action="https://formsubmit.co/antoniomal2399@gmail.com" method="POST">
            <span class="label">Nombre y Apellidos *</span>
            <input class="form-control" type="text" name="Nombre" placeholder="Nombre">
            <span class="label">Correo Electrónico *</span>
            <input class="form-control" type="email" name="Email" placeholder="Correo electrónico">
            <span class="label">Teléfono *</span>
            <input class="form-control" type="text" name="Telefono" placeholder="Teléfono">
            <span class="label">Mensaje *</span>
            <textarea class="form-control" name="Mensaje" id="" cols="30" rows="5" placeholder="Mensaje"></textarea>
            <button class="btn-enviar" type="submit">Enviar</button>

            <!-- <input type="hidden" name="_next" value="http://localhost:4200/"> -->
            <input type="hidden" name="_next" value="https://jhenifer-pinedo.vercel.app/">
            <input type="hidden" name="_captcha" value="false"> 
        </form>
    </div>
</div>