@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.general {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    .section-principal{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .img{
            max-width: 100%;
        }
        .texto-principal{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #000;
            padding: 10%;
            gap: 15px;
            .text{
                text-align: center;
            }
            .btn{
                margin-top: 30px;
                .btn-contacto{
                    border-radius: 30px;
                    background: rebeccapurple;
                    &:hover{
                        background: rgb(125, 71, 178);
                    }
                }
            }
        }
    }
    .section-planes{
        .title{
            font-size: 40px;
            margin-left: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            line-height: 30pt;
        }
        .plan-descripcion_primary{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            margin: 0 20px 20px 10px;
            font-weight: bold;
            font-style: italic;
        }
        .plan-descripcion_secundary{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 16px;
            margin: 0 20px 20px 10px;
        }
        .card-planes{
            margin-bottom: 30px;
            .card{
                height: auto;
                .card-header{
                    height: 50px;
                    display: flex;
                    align-items: center;
                    background-color: #003869;
                    color: #fff;
                    font-weight: bold;
                }
                .card-body{
                    .card-text{
                        font-size:  16px;
                        text-align: center;
                        line-height: 20pt;
                        padding: 10px 0;
                    }
                    .card-text_time{
                        margin: 40px 0 20px 0;
                        font-size: 19px;
                        font-weight: bold;
                        font-style: italic;
                        .value{
                            font-size: 15px;
                            font-weight: normal;
                        }
                    }
                    .card-text_price{
                        margin: 10px 0 20px 0;
                        font-size: 19px;
                        font-style: italic;
                        font-weight: bold;
                        .value{
                            font-size: 15px;
                            font-weight: normal;
                        }
                    }
                    .card-text_price--group{
                        display: flex;
                        padding-left: 50px;
                        font-size: 16px;
                        gap: 10px;
                        font-weight: bold;
                        line-height: 10pt;
                        .value{
                            font-weight: normal;
                        }   
                    }
                }
            }
        }
    }

    

    .color-fondo{
        padding: 100px 0;
        background-color:rgb(233, 233, 233);
        .title{
            font-size: 40px;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-weight: bold;
            line-height: 30pt;
        }
    
        .sub-title{
            font-size: 20px;
            margin: 50px 0 20px 10px;
            font-weight: bold;
            line-height: 20pt;
            color: rgb(95, 95, 95);
        }
    }
    
    .mat-accordion{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }
    .mat-expansion-panel-header {
        background-color: #003869;
    }

    .mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p{
        color: #000;
    }

    .mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
        background-color: #003869;
    }
    .mat-accordion .mat-expansion-panel{
        border-radius: 30px;
        margin: 5px 0;
        color: #000;
        background-color: #fff;
        width: 100%;
    }

    .section-ofrecemos {
        display: flex;
        flex-direction: column;
        padding: 0 0 50px 0;
        background-color:rgb(233, 233, 233);
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 9rem 0 20px 0;
            text-align: center;
            font-weight: bold;
            font-size: 38px;
        }
        .card-title{
            font-size: 18px;
            line-height: 22pt;
            font-weight: bold;
        }
        .btn-primary{
            background-color: #003869;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 12px;
        }
    }
    .agendar-sesion{
        display: flex;
        flex-direction: column;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 9rem 0 20px 0;
            text-align: center;
            font-weight: bold;
        }
        .subTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 20px 0;
            text-align: center;
            font-size: 20px;
            color: rgb(129, 129, 129);
        }
        .description{
            font-size: 14px;
            margin: 30px 0;
        }
        .text-agendar{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 70px 0 20px 0;
            text-align: center;
            font-weight: bold;
        }
        .card-title{
            font-size: 20px;
            line-height: 22pt;
            font-weight: bold;
        }
        .image{
            height: 200px;
        }
        .card-body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .card-text{
            font-size: 13px;
        }
    }

    .beneficios{
        padding: 100px 0;
        background-color:rgb(233, 233, 233);
        width: 100%;
        .title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 9rem 0 20px 0;
            text-align: center;
            font-weight: bold;
            font-size: 38px;
            line-height: 30pt;
        }
        .subTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 5px 0 20px 0;
            text-align: center;
            font-size: 20px;
            color: rgb(129, 129, 129);
        }
        .beneficios-items{
            margin: 0 10px;
            font-size: 16px;
            line-height:20pt;
            .beneficios-items_title{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 5rem 0 20px 0;
                text-align: center;
                font-size: 25px;
                color: rgb(68, 68, 68);
            }
        }
        .card-benefecio{
            gap: 15px;
            margin: 0 10px;
            margin-top: 100px;
        }
        .card {
            padding: 0;
            .card-header{
                background-color: #003869;
                color: #fff;
            }
            .blockquote{
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 1300px){
    .general {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        .section-principal{
            position: relative;
            .image{
                background-color: #000;
                .img{
                    max-width: 100%;
                    opacity: 0.5;
                   // height: 100vh;
                }
                .texto-principal{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 0;
                    left: -150px;
                    color: #fff;
                    width: 80%;
                    .title{
                        font-size: 60px;
                        font-family: 'Fredoka One', cursive;
                        font-weight: bold;
                        line-height: 45pt;
                    }
                    .texto-secundario{
                        font-size: 50px;
                        margin: 20px 0;
                    }
                    .descripcion{
                        font-size: 20px;
                        line-height: 22pt;
                        margin-top: 15px;
                    }
                }
                .btn{
                    margin-top: 30px;
                    .btn-contacto{
                        border-radius: 30px;
                        font-size: 40px;
                        background: rebeccapurple;
                        font-family: 'Fredoka One', cursive;
                        padding: 10px 15px;
                        font-size: 20px;
                        &:hover{
                            background: rgb(125, 71, 178);
                        }
                    }
                }
            }  
           
        }
        .mat-accordion .mat-expansion-panel{
            border-radius: 30px;
            margin: 5px 0;
            color: #000;
            background-color: #fff;
            width: 900px;
        }
        .sub-title{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -29rem;
            font-size: 20px;
            font-weight: bold;
            line-height: 20pt;
            color: rgb(129, 129, 129);
        }
        .agendar-sesion{
            .image{
                height: 280px;
            }
            .title{
                font-size: 40px;
            }
            .subTitle{
                font-size: 25px;
            }
            .text-agendar{
                font-size: 35px;
            }
            .description{
                font-size: 16px;
            }
        }
        .beneficios{
            .beneficios-items{
                margin-left: 15rem;
            }
        }
    }
}