<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-infantil2.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA INFANTIL</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA INFANTIL</h1>
        <span class="descripcion_content">Expertos en modificación de conducta, problemas de atención y concentración, control de emociones, ansiedad, depresión en niños, entre otros.</span>
    </div>
</div>
