<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-infantil2.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA INFANTIL</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA INFANTIL</h1>
        <span class="descripcion_content">
            La terapia infantil se enfoca en el diagnóstico y los desbalances del pensamiento, las emociones y/o
            comportamiento que influye a los niños, adolescentes y sus familias. Un especialista en niños y adolescentes
            les brinda a las familias los beneficios de haber obtenido una consulta psicológica basada desde la ética
            profesional y la responsabilidad médica de brindar cuidado comprensivo.</span>
        <h3 class="subTitle">¿Cómo es una terapia infantil y cuánto dura?</h3>
        <span class="descripcion_content">
            La entrevista dura alrededor de 50 minutos, en las cuales se recopilan los datos de los padres o apoderados
            y, por último, se realiza una evaluación hacia el niño o adolescente.
        </span>
        <h3 class="subTitle">¿Qué niños son los que necesitan de una evaluación o terapia infantil?</h3>
        <span class="descripcion_content">
            Los cuadros que más se presentan pueden ser por ansiedad, suelen ser niños que muestran algún retraimiento
            social, problemas en la alimentación o dificultad en la pronunciación durante el aprendizaje del lenguaje.
            De otra manera, pueden ser niños que presentan problemas en la conducta, hiperactividad o irritabilidad como
            los niños con TDHA. Finalmente, si se trata de niños que muestran retraso en el lenguaje o poco interés en
            socializar, como los niños con autismo.
        </span>
        <h3 class="subTitle">¿Los padres también necesitan llevar tratamiento psicoterapéutico?</h3>
        <span class="descripcion_content">
            En la mayoría de los casos si es necesario. Usualmente, los trastornos mentales en los niños son el reflejo
            de un problema en la dinámica familiar, sobre todo en la relación entre los padres.
        </span>
    </div>
</div>