@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');
.template {
    width: 100%;
    height: auto;

    .desplegable {
        .btn-toggle {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 20px;
            bottom: 20px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #28537b;
            box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
            z-index: 10;
            border: none;
            color: #FFF;
            width: 60px;
            height: 60px;
        }

        .icon {
            font-size: 35px;
        }

        .dropdown-menu_item {
            z-index: 10;
            position: fixed;
            right: 26px;
            bottom: 90px;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .border-img {
                background-color: #28537b;
                padding: 10px;
                border-radius: 50%;
            }

            .img {}
        }
    }

    .whatsapp {
        position: fixed;
        right: 20px;
        bottom: 20px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 10px 36px -2px rgba(0, 0, 0, 0.75);
        z-index: 10;
        display: none;
    }

    .template-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100% - 88px);

        .template-body-navbar {
            height: 88px;
        }

        .router {
            height: calc(100% - 88px);

            .loader {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: #003869;
                z-index: 10;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: #fff;
                gap: 20px;
                font-weight: 800;
                .spinner-border {
                    height: 50px;
                    width: 50px;
                    margin-top: 30px;
                }

                .title {
                    font-family: 'Unbounded', cursive;
                    font-size: 40px;
                }

                .sub-title {
                    font-size: 25px;
                    font-family: 'Playfair Display', serif;
                    
                }
                .phone{
                    display: flex;
                    gap: 8px;
                    margin: 10px 0 ;
                    font-size: 16px;
                    align-items: center;
                }
            }
        }
    }

    .footer {
        width: 100%;
        height: auto;
        background-color:rgb(233, 233, 233);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        gap: 10px;
        margin-top: 30px;
        .footer_imagen{
            width: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            .footer_frase{
                padding: 10px 50px;
                font-size: 16px;
                font-family: 'Unbounded', cursive;
                font-style: italic;
                color: rgb(11, 113, 203);
            }
        }
        .footer_enlaces{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 50px 0;
            .title{
                font-size: 18px;
                color: #003869;
                font-family: 'Unbounded', cursive;
            }
            .enlaces{
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 8px;
                font-family: 'Unbounded', cursive;
                a{
                    text-decoration: none;
                    color: rgb(11, 113, 203);
                }
            }
        }
        .footer_servicios{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 0 50px 0;
            .title{
                font-size: 18px;
                color: #003869;
                font-family: 'Unbounded', cursive;
            }
            .servicios{
                width: 100%;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 8px;
                text-decoration: none;
                .servicios_items{
                    display: flex; 
                    flex-direction: column;
                    gap: 8px;
                    font-family: 'Unbounded', cursive;
                    a{
                        text-decoration: none;
                        color: rgb(11, 113, 203);
                    }
                }
                .servicios_items2{
                    display: flex; 
                    flex-direction: column;
                    gap: 8px;
                    font-family: 'Unbounded', cursive;
                    a{
                        text-decoration: none;
                        color: rgb(11, 113, 203);
                    }
                }
            }
        }
        .footer_mail{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            margin: 0 0 20px 0;
        }
    }
}


@media (min-width: 1300px) {
    .template {
        .desplegable {
            display: none;
        }

        .whatsapp {
            display: block;
        }
        .footer {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            font-size: 12px;
            font-weight: bold;
            gap: 10px;
            color: #000;
            padding: 5px 0;
            position: relative;
            .footer_imagen{
                width: 33%;
                display: flex;
                flex-direction: row;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                .img{
                    position: relative;
                    top: -20px;
                    left: 40px;
                }
                .footer_frase{
                    padding: 10px 50px;
                    font-size: 14px;
                    font-family: 'Unbounded', cursive;
                }
            }
            .footer_enlaces{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 50px 0;
                .title{
                    font-size: 18px;
                    position: absolute;
                    top: 40px;
                }
                .enlaces{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    gap: 8px;
                    text-decoration: none;
                    position: relative;
                    top: 20px;
                }
            }
            .footer_servicios{
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 0 0 50px 0;
                .title{
                    font-size: 18px;
                    position: absolute;
                    top: 40px;
                }
                .servicios{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    justify-content: center;
                    gap: 60px;
                    text-decoration: none;
                    position: relative;
                    top: 50px;
                }
            }
        }
    }
}