<div class="template">
  <div class="whatsapp" (click)="goWhatsapp()">
      <img class="whatsapp" src="../assets/whatsapp.png" alt="whatsapp" height="70">
  </div>
  <div class="template-body">
      <div class="template-body-navbar">
          <app-navbar></app-navbar>
      </div>
      <div class="router">
          <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <span class="material-icons-outlined">
            mail
        </span>
        jheniferpinedo@gmail.com
    </div>
  </div>
</div>