<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-individual.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA INDIVIDUAL</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA INDIVIDUAL</h1>
        <span class="descripcion_content">Expertos en ansiedad, depresión, ataques de pánico, dependencia emocional, entre otros. Sesiones de alta intensidad enfocadas en crear la mejor versión de ti. </span>
    </div>
</div>