<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-individual.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA INDIVIDUAL</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA INDIVIDUAL</h1>
        <span class="descripcion_content">
            Este tratamiento es una intervención profesional, basada en técnicas psicológicas, a través de la cual un
            psicólogo clínico busca contrarrestar el sufrimiento de la persona o enseñarle las habilidades adecuadas
            para hacer frente a los diversos problemas de su vida.<br>
            Gracias a la terapia individual es posible llegar a comprender y a dominar las emociones, a mejorar la
            capacidad individual para la toma de decisiones y a desarrollar una autoestima sana que permita mejorar
            nuestra relación con otras personas. Por ello, cuando se opta por la terapia personal para la resolución de
            nuestros propios conflictos, lo principal es identificar cuáles son los problemas y circunstancias que están
            provocando un cambio en nuestra conducta o estado de ánimo.<br>
            Por tanto, puede ser recomendable optar por la terapia personal cuando se tiene un problema de ansiedad,
            falta de autoestima, inseguridades, falta de autocontrol, falta de motivación, problemas relacionados con
            adicciones, conflictos individuales dentro de la relación de pareja, problemas derivados de la situación
            laboral o bien, problemas propios que puedan afectar directa o indirectamente a la familia.
        </span>
        <h3 class="subTitle">¿Qué puedo lograr asistiendo a terapia individual?</h3>
        <span class="descripcion_content">
            La terapia personal sirve, principalmente, para <strong>recuperar el bienestar y para promover el
                crecimiento o desarrollo individual</strong>. Permite identificar qué aspectos de nuestra vida no se
            adecuan a nuestras expectativas y a encontrar soluciones que permitan que nos sintamos libres descubriendo
            nuestras propias
            posibilidades.<br>
            Ayuda a superar experiencias desagradables o que hayan marcado un antes y un después en nuestra vida,
            permitiendo que ello deje de afectarnos emocionalmente en el futuro y <strong>enseñándonos a vencer las
                dificultades</strong>
            que impedían que aceptáramos esa situación en el pasado.<br>
            Saber controlar nuestras emociones, <strong>tomar decisiones de manera sana y adecuada</strong>, e
            incentivar el crecimiento
            personal, también son objetivos que pueden lograrse mediante las diferentes herramientas que se ponen en
            práctica durante las sesiones de terapia personal y que finalmente, permiten al individuo reconocer y
            potenciar determinadas cualidades positivas como la alegría, la autoestima, el cuidado y el amor propio.<br>
            Además, también es muy útil a la hora de obtener una mejor comprensión sobre uno mismo o el entorno que le
            rodea y no solamente está pensada para aquellas personas que sufren un conflicto, sino que también sirve
            para explorar a fondo el potencial de cada uno de manera que sea más sencillo alcanzar la felicidad
            individual.
        </span>
    </div>
</div>