<div class="general">
    <img class="image2" src="../../../../assets/quienes-somos2.jpg" alt="" width="100%">
    <img class="image" src="../../../../assets/quienes-somos-normal.jpg" alt="" width="100%">
    <div style="padding: 0 20px">
        <h1 class="title">¿Quiénes somos?</h1>
        <span class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perferendis repudiandae,
            ullam mollitia
            ipsum cupiditate iste sit in voluptate numquam qui ipsa laborum provident alias accusamus corporis minus
            consequuntur deleniti!Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus perferendis
            repudiandae, ullam mollitia
            ipsum cupiditate iste sit in voluptate numquam qui ipsa laborum provident alias accusamus corporis minus
            consequuntur deleniti!</span>
    </div>
</div>