<div class="general">
    <img class="image2" src="../../../../assets/quienes-somos2.jpg" alt="" width="100%">
    <img class="image" src="../../../../assets/quienes-somos-normal.jpg" alt="" width="100%">
    <div class="nosotros">
        <h1 class="title">¿Quiénes somos?</h1>
        <div class="nosotros_content">
            <div class="mision">
                <div class="mision-content">
                    <img src="../../../../assets/mision2.png" alt="" height="80">
                    <h3 class="subTitle">Misión</h3>
                    <span class="content">Espacio psicoeducativo con el objetivo de desestigmatizar la salud mental.</span>
                </div>
                
            </div>
            <div class="vision">
                <div class="vision-content">
                    <img src="../../../../assets/vision.png" alt="" height="80">
                    <h3 class="subTitle">Visión</h3>
                    <span class="content">Ofrecer diversos recursos y servicios para generar un impacto positivo en la salud mental de mi comunidad.</span>
                </div>
            </div>
        </div>
    </div>
</div>