<div class="t-individual">
    <div class="fondo_image">
        <img class="image" src="../../../../assets/t-dependencia-emocional3.jpg" alt="">
        <div class="contenido">
            <h1 class="title">TERAPIA DE DEPENDENCIA EMOCIONAL</h1>
            <button class="btn-contacto" mat-raised-button color="primary" (click)="goWhatsapp()">Agenda tu
                cita</button>
        </div>
    </div>
    <div class="descripcion">
        <h1 class="title">TERAPIA DE DEPENDENCIA EMOCIONAL</h1>
        <h3 class="subTitle">¿Qué es dependencia emocional y cómo se crea?</h3>
        <span class="descripcion_content">
            <!-- <div class="row py-4">
                <div class="col-sm-12 col-md-6 col-xl-4 col-lg-4">
                    <ul>
                        <li><strong>Tiene un temperamento muy fuerte</strong></li>
                        <li><strong>Se niega a hacerme caso</strong></li>
                        <li><strong>Es desafiante</strong></li>
                        <li><strong>No quiere seguir las normas y los límites</strong></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><strong>Es muy impulsivo/a</strong></li>
                        <li><strong>En ocasiones es agresivo/a</strong></li>
                        <li><strong>Le han expulsado del colegio</strong></li>
                    </ul>
                </div>
            </div> -->
            A lo largo de la historia hemos aprendido a identificar nuestra individualidad a través de algo externo a
            nosotros mismos: «los demás». Creemos que el ser humano es un ser colectivo y que su propia identidad al
            margen del grupo es irrelevante y por tanto secundaria: El clan, la tribu, el grupo, la familia, la pareja,
            las amistades, la comunidad, la sociedad etc.… se convierten erróneamente nuestro referente absoluto.

            <span class="frase">La creencia de creernos necesitados y de ser dependientes emocionales ha generado un
                profundo miedo a sentirnos rechazados, a ser abandonados, a que no nos quieran, a no ser
                adecuados.</span>

            Las etiquetas impuestas socialmente marcan nuestro camino a seguir (cómo debemos pensar, sentir y actuar), y
            si no hacemos como todos los demás (“lo supuestamente considerado normal y eso no quiere decir que sea
            bueno…”), seremos tachados de “egoístas”, es decir, “solo piensas en ti”. ¿Somos realmente lo que somos en
            función de lo que los demás dicen, piensan y sienten de nosotros? No, en absoluto.
            <h3 class="subTitle">¿Por qué empezar con Terapia de dependencia emocional?</h3>
            <span class="descripcion_content">
                Vivimos en un estado de dependencia emocional alegando amor, dedicación exclusiva y cariño como lo
                normal, este es el precio a pagar; así que podríamos decir que somos esclavos de nuestro deseo de ser
                amados y por tanto de los diferentes trastornos psicológicos que conlleva la dependencia emocional:
                seducir, manipular, chantajear y dominar desde el rol de tirano o el de víctima (sumisión, resignación
                etc…) o de ambos dos paralelamente (depende de la estructura psicológica de cada cual…), es lógico y
                socialmente aceptado, y además visto con buenos ojos.
            </span>
        </span>
    </div>
</div>